<div *ngIf="!isLoggedIn" class="BtnInOut">
  <p class="textLeft">Angular Blog</p>
  <button (click)="openModal()" style="color: green; border: 3px solid green;">Singn in</button>
  <button (click)="openRegistrationModal()" style="color: blueviolet; border: 3px solid blueviolet;">Sign up</button>
</div>

<div class="mt-4 FormPosts CloseCoppy">
  <!-- <ul class="list-group FormPosts" *ngFor="let blog of blogs;  "> -->
  <div class="list-group FormPosts" *ngFor="let blog of blogs;  ">
    <div *ngIf="blog.id === selectedId ">
      <h3>{{ blog.title }}</h3>
      <p class=" PostedBy">Posted by: {{blog.postedBy }}</p>
      <p>{{ blog.text }}</p>
      <p class="date"> {{ blog.date | date:'dd.MM.yyyy' }}</p>

      <div *ngIf="canEditOrDelete(blog.postedBy )">
        <div class="closeBtn">
          <button class="btn btn-sm btn-outline-primary " (click)="openEditModal(blog)" class="BtnEdi ">Edit</button>
          <button class="btn btn-sm btn-outline-danger " (click)="deleteBlog(blog.id)" class="BtnDel ">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!-- </ul> -->
</div>







<div *ngIf="isLoggedIn">
  <div class="AllRig">
    <p class="textLeft">Angular Blog</p>
    <button class="btn btn-primary mt-3 BtnAdd" (click)="openAddBlogModal()">Add Post</button>
    <span class="Uname">{{ loggedInUsername }}</span>
    <button (click)="onLogout()" class="BtnSigOut">Sign Out</button>
  </div>
  <div class="mt-4 FormPosts">
    <ul class="list-group FormPosts" *ngFor="let blog of blogs">
      <h4 class="TTitle">{{ blog.title }}</h4>
      <p class="PostedBy">Posted by: {{blog.postedBy }}</p>
      <p>{{ blog.text }}</p>
      <p class="date"> {{ blog.date | date:'dd.MM.yyyy' }}</p>
      <div *ngIf="canEditOrDelete(blog.postedBy )" class="EdiDel">
        <button class="btn btn-sm btn-outline-primary " (click)="openEditModal(blog)" class="BtnEdi">Edit</button>
        <button class="btn btn-sm btn-outline-danger " (click)="deleteBlog(blog.id)" class="BtnDel">Delete</button>
      </div>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>



<div class="modal" style="display: none;">
  <app-login-modal></app-login-modal>
</div>

<div class="modal" style="display: none;">
  <app-registration-modal></app-registration-modal>
</div>